.proyectos-article{
    footer{
        margin-top: 0px;
        height: 45px;
        padding-top: 0px;
    }
}
.proyect-nav{
    margin-top: 2px;
}
.proyect{
    padding-top: 23px;
    padding-left: 2px;
    padding-bottom: 19px;
    border-bottom: 1px solid black;
    p{
        color: black;
        font-size: 95%;
        padding-top: 6px;
    }
}
.proyect-options{
    margin-top: 10px;
}
.proyect-options__option{
    background: color(ns-forth);
    font-size: 85%;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
    margin-right: 5px;
    margin-left: 1px;
    border-radius: 12px;
    letter-spacing: 300%;
}
.extend-option{
    background: white;
    font-size: 90%;
    border-width: 3px;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-style: solid;
    border-color: color(ns-forth);
}

@media (min-width:1024px){
    .proyect-nav{
        justify-content: left;
        li{
            margin-left: 14px;
            margin-right: 16px;
        }
    }
}
@media (min-width:1024px) and (max-width:1279px){
    .proyectos-article{
        nav{
            li{
                margin-left: 0px;
                margin-right: 0px;
            }
        }
        header{
            padding-top: 21px;  
            height: 55px;
        }
        footer{
            padding-top: 5px;
        }
    }
    .proyect-nav{
        height: 38px;
    }
}
@media (min-width:320px) and (max-width:1023px){
    .proyect{
        height: 118px;
    }
    .proyect-options{
        overflow: visible;
        height: 30px;
        width: 250px;
    }
    .proyect-nav{
        padding-top: 1px;
        height: 40px;
    }
    #first-li{
        padding-left: 5px;
        padding-right: 2px;
    }
    #last-li{
        padding-right: 5px;
    }
}
@media (min-width:320px) and (max-width:599px){
    .proyectos-article{
        footer{
            padding-top: 16px;
            padding-bottom: 12px;
        }
        nav{
            height: 38px;
        }
    }
}