.mail{
    margin-top: 18px;
    border-bottom: 1px solid black;
    overflow: hidden;
    height: 126px;
}
.mails-article{
    .article-main{
        margin-top: 1px;
        padding-left: 1px;
    }
    img{
        width: 20px;
        height: 20px;
    }
    footer{
        margin-top: 0px;
        padding-top: 15px;
    }
}
.mail__sent-date{
    font-size: 90%;
    color: grey;
}
.mail-user{
    margin-top: 11px;
    display: flex;
    flex-direction: row;
}
.mail-user_name{
    color: color(darken);
    margin-left: 6px;
    margin-top: 2px;
    font-size: 93%;
}
.mail__content{
    margin-top: 7px;
    a{
        color: color(ns-tertiary);
        font-size: 15.3px;
        font-weight: bold;
    }
    p{
        color: color(darken);
        margin-top: 5px;
        font-size: 13.3px;
        word-spacing: 50%;
        letter-spacing: 50%;
    }
}
.mail-content{
    overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical !important;
}
@media (min-width:1024px) and (max-width:1279px){
    .mails-article{
        header{
            padding-top: 21px;  
            height: 55px;
        }
        main{
            margin-top: 0px;
        }
        footer{
            margin-top: 1px;
            padding-top: 16px;
        } 
    }
    .mail{
        height: 125px;
    }
}
@media (min-width:320px) and (max-width:599px){
    .mails-article{
        footer{
            padding-top: 15px;
            padding-bottom: 11px;
        }
    }
    .mail{
        height: 126px;
    }
}