////
/// HEADER component
///
/// Description of the component
///
/// @access public
/// @author Dfront Specialist Team
/// @group components of repository
/// @name .#{$wf__ns}header
/// @since version 1.0.0
////
.#{$ns}header {
    display: block;
    width: 100%;
    padding: rem(10) rem(30);
    height: rem(65);
    background: color(ns-main);
    &__link {
        display: inline-block;
        vertical-align: middle;
    }
    &__figure {
        width: rem(45);
        height: rem(45);
        display: inline-block;
        vertical-align: middle;
    }
    &__image {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
    &__title {
        color: color(danger);
        font-size: rem(18);
        display: inline-block;
        vertical-align: middle;
        margin-left: rem(15);
        &:not(:last-child) {
            &:after {
                content: '•';
                display: inline-block;
                margin-left: rem(15);
                margin-right: rem(15);
            }
        }
    }
    &__txt {
        display: inline-block;
        vertical-align: middle;
        color: color(white);
        font-size: rem(16);
        font-weight: 100;
    }
}
.header-nav{
    display: flex;
    justify-content: end;
}
.name-div{
    padding-top: 10px;
    font-size: 124%;  
    margin-right: 31px;
    .name-div__everis{
        font-weight: 100;
    }
}
.search-div{
    width: 45.5%;
    .header-form{
        width: 100%;
    }
    .header-search{
        width: 100%;
    }
    #input-search{
        width: 100%;
        padding-left: 13px;
        height: 42px;
        border-radius: 5px;
        font-size: 107%;
        border: none;
    }
}
.desplegable-img{
    width: 25px;
    height: 25px;
    margin-top: 10px;
}
@media (min-width:1024px){
    .desplegable-img{
        display: none;
    }
    .buscador-img{
        position: absolute;
        transform: translate(280px, -30px);
    }
}
@media (min-width:600px){
    .logo-img{
        display: none;
    }
}
@media (min-width:1280px){
    .search-div{
        width: 540px;
    }
    .buscador-img{
        position: absolute;
        transform: translate(475px, -30px);
    }
}
.atajos-div{
    width: 400px;
    ul{
        width: 400px;
    }
    li{
        width: 25%;
        font-family: SourceSansPro;
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #ffffff;
    }
}
.header-img{
    width: 22px;
    height: 25px;
    margin-bottom: 2px;
}
.header-list li:nth-child(4){
    .header-img{
        width: 40px;
    }
}
.header-profile{
    width: 140px;
    display: flex;
    justify-content: flex-end;
    margin-top: 3px;
    .header-img{
        margin-top: 7px;
    }
}
.notifications__number{  
    width: 15px;
    height: 15px;
    margin: 2px 0 1px;
    padding-left: 3px;
    align-content: center;
    background-color: color(alert);
    border-radius: 8px;
    position: absolute;
    transform: translate(11px, 4px);
}
.profile-img{
    margin-left: 20px;
    width: 37px;
    height: 37px;
    border-radius: 20px;
}
.article-header{
    background: color(ns-primary);
    h1{
        color: white;
    }
}
.article-header{
    width: auto;
}
.desplegable{
    padding-top: 12px;
    width: 17px;
    height: 32px;
}
@media (min-width:787px) and (max-width:1279px){
    .name-div{
        margin-right: 29px;
    }
    .search-div{
        width: 31.8%;
        .header-form{
            width: 100%;
        }
        .header-search{
            width: 100%;
        }
        #input-search{
            width: 100%;
        }
    }
    .desplegable{
        margin-left: 3px;
    }
    .profile-img{
        margin-left: 24px;
    }
}
@media (min-width:786px) and (max-width:1023px){
    .search-div{
        width: 70%;
    }
    .atajos-div{
        display: none;
    }
    .buscador-img{
        position: absolute;
        transform: translate(425px, -30px);
    }
}
@media (min-width:600px) and (max-width:785px){
    header{
        .name-div{
            padding-left: 17px;
            margin-right: 29px;
        }
        .search-div{
            padding-left: 30px;
            width: 56%;
            padding-left: 0px;
            padding-right: 0px;
            .header-form{
                width: 100%;
            }
        }
        .atajos-div{
            display: none;
        }
        .profile-img{
            margin-left: 26px;
        }
        .header-form{
            width: 100%;
        }
        ul{
            display: none;
        }
        .desplegable{
            margin-left: 2px;
        }
        .profile-img{
            margin-left: 24px;
        }
    }
    .buscador-img{
        position: absolute;
        transform: translate(235px, -30px);
    }
}
@media (min-width:320px) and (max-width:599px){
    header{
        padding-top: 8px;
        .desplegable-img{
            margin-right: 12px;
        }
        .logo-img{
            margin-top: 1px;
        }
        .name-div{
            display: none;
        }
        .header-search{
            display: none;
        }
        .buscador-img{
            width: 20px;
            height: 20px;
            margin-top: 12px;
            margin-left: 80px;
        }
        .atajos-div{
            display: none;
        }
        .header-profile{
            justify-content: flex-start;
        }
        .header-notifications{
            margin-left: 6px;
            margin-top: 3px;
        }
        .profile-img{
            margin-left: 14px;
        }
    }
}