.eventos-article{
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}
.mails-article{
    grid-column-start: 4;
    grid-row: 1;
    grid-row-end: 5;
}
.contactos-article{
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 4;
}
.notificaciones-article{
    grid-row-start: 3;
    grid-row-end: 7;
    grid-column-start: 2;
}
.proyectos-article{
    grid-row-start: 6;
    grid-row-end: 8;
    grid-column-start: 4;
}
article{
    background: white;
}
a{
    text-decoration: underline color(ns-tertiary);
}
