.notification{
    display: flex;
    flex-direction: row;
    color: color(darken);
    padding-top: 18px;
    padding-bottom: 14px;
    border-bottom: 1px solid black;
    img{
        width: 12px;
        height: 12px;
    }
    .noticiation-content{
        width: 180px;
    }
}
.notification-content__main{
    padding-top: 5px;
    padding-bottom: 7.33px;
}
.notificaciones-article{
    main{
        margin-top: 0px;
        margin-left: 0px;
    }
    footer{
        margin-top: 0px;
    }
}
.notification-confir{
    padding-left: 45px;
}
.checkbox{
    width: 20px;
    height: 20px;
    color: color(ns-forth);
}
.notification-content__deadline{
    font-size: 80%;
}
.last-child{
    border: none;
}
@media (min-width:1024px) and (max-width:1279px){
    .notificaciones-article{
        footer{
            padding-top: 13px;
        }
    }
    .notifications{
        margin-left: 26px;
    }
    .notification{
        padding-bottom: 13px;
        .noticiation-content{
            width: 220px;
    }
    }
    .notification-confir{
        padding-left: 20px;
    }
    .notification-content__deadline{
        padding-bottom: 2px;
    }
}
@media (min-width:600px) and (max-width:1023px){
    .notificaciones-article{
        header{
            height: 55px;
        }
    }
}
@media (min-width:320px) and (max-width:599px){
    .notificaciones-article{
        footer{
            margin-top: 1px;
            padding-top: 16px;
            padding-bottom: 12px;
        }
    }
}