.events-main{
    margin-top: 28px;
}
.event__start-time{
    background-color: color(ns-primary);
    width: 46px;
    height: 46px;
    border-radius: 22px;
    padding-top: 15px;
    padding-left: 6px;
    align-items: center;
    color: white;
    font-size: 95%;
}
.daily-events{
    display: flex;
    flex-direction: column;
    h2{
        color: color(ns-primary);
    }
}
.event{
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    margin-right: 24px;
}
.second-event{
    margin-top: 28px;
    margin-bottom: 7px;
}
.event-summary{
    margin-top: 7px;
    margin-left: 11px;
    width: 160px;
    height: 50px;
}
.event__reference{
    font-weight: bold;
    font-size: 107%;
    color: color(ns-tertiary);
}
.event__paragraph{
    color: black;
    font-size: 90%;
    padding-top: 2px;
}
.tomorrow-event{
    margin-top: 3px;
}
.article-footer{
    margin-top: 14px;
    padding-top: 14px;
    width: auto;
    display: flex;
    justify-content: center;
}
.footer-paragraph{
    align-self: center;
}
.tomorrow-event{
    margin-top: 15px;
}
.eventos-article{
    footer{
        margin-top: 12px;
        margin-bottom: 10px;
    }
}
@media (min-width:1024px) and (max-width:1279px){
    .eventos-article{
        main{
            margin-left: 26px;
        }
        footer{
            padding-top: 15px;
        }
    }
    .event{
        display: flex;
        flex-direction: row;
        margin-top: 16px;
        margin-right: 22px;
    }
    .second-event{
        margin-top: 26px;
        margin-bottom: 7px;
    }
    .first-day{
        height: 174px;
    }
}
@media (min-width:600px) and (max-width:1023px){
    .eventos-article{
        main{
            margin-top: 29px;
            margin-left: 23px;
        }
        footer{
            margin-top: 10px;
            padding-top: 13px;
        }
    }
    .event{
        margin-top: 17px;
        margin-left: 2px;
        padding-bottom: 2px;
    }
    .daily-events{
        margin-bottom: 3px;
    }
    .second-event{
        margin-top: 28px;
        margin-bottom: 7px;
    }
    .today-events{
        height: 174px;
    }
    .tomorrow-events{
        margin-top: 4px;
    }
}
@media (min-width:320px) and (max-width:599px){
    .eventos-article{
        .tomorrow-event{
            margin-top: 18px;
        }
        footer{
            margin-top: 10px;
            margin-bottom: 12px;
        }
    }
}