.contactos-article{
    overflow: hidden;
    header{
        padding: 0px, 0px, 0px, 0px;
        margin: 0px, 0px, 0px, 0px;
        h1{
            width: 300px;
        }
    }
}
.contactos{
    padding-top: 1px;
    height: 424px;
    overflow: scroll;
    margin-right: 5px;
}
.contacto{
    width: 242px;
    display: flex;
    flex-direction: row;
    padding-top: 15px;
    padding-bottom: 8px;
    border-bottom: 1px solid black;
}
.contacto-picture__img{
    height: 42px;
    width: 42px;
}
.contacto-user{
    padding-left: 11px;
    padding-top: 3px;
    width: 170px;
    line-height: 20px;
}
@media (min-width:1024px) and (max-width:1279px){
    .contactos-article{
        header{
            padding-top: 21px;  
            height: 55px;
        }
    }
    .contactos{
        padding-top: 0px;
    }
    .contacto{
        width: 260px;
    }
}
@media (min-width:600px) and (max-width:1023px){
    .contactos-nav{
        justify-content: space-between;
        padding-top: 1px;
        width: 276px;
    }
    .contactos-nav__li{
        padding-right: 2px;
    }
    article{
        .nav-list{
            li{
                padding-right: 10px;
            }
        }
    }
    .contactos-article{
        .contacto-user{
            width: 146px;
        }
    }
    .contacto{
        width: 227px;
    }
}
@media (min-width:320px) and (max-width:599px){
    .contacto-user__name{
            margin-bottom: 23px;
    }
    .contactos-article{
        height: 498px;
        header{
            height: 55px;
        }
    }
}