.principal{
    width: device-width;
    padding-top: 56px;
    padding-bottom: 500px;
	background-color: #F4F5F7;
    display: grid;
    grid-template-columns: 24px 290px 24px 1fr 24px 289px 24px;
    grid-template-rows: 400px 31px 69px 32px 24px 273px 221px;
}
@media (min-width:1280px){
    .principal{
        width: 1280px;
        grid-template-columns: 24px 289px 24px 604px 24px 291px 24px;
    }
}
@media (min-width:1086px) and (max-width:1279px){
    .principal{
        padding-top: 48px;
        grid-template-columns: 24px 308px 24px 1fr 24px 308px 25px;
        grid-template-rows: 400px 25px 75px 32px 24px 268px 228px;
    }
}
@media (min-width:1024px) and (max-width:1085px){
    .principal{
        padding-top: 48px;
        grid-template-columns: 24px 308px 24px 310px 24px 308px 25px;
        grid-template-rows: 400px 25px 75px 32px 24px 268px 228px;
    }
}
@media (min-width:600px) and (max-width:785px){
    .principal{
        padding-top: 34px;
        grid-template-columns: 1fr 276px 1fr 276px 1fr;
        grid-template-rows: 409px 16px 75px 32px 16px 278px 16px 200px 298px;
    }
    .eventos-article{
        grid-column-start: 2;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .mails-article{
        grid-column-start: 4;
        grid-row: 1;
        grid-row-end: 5;
    }
    .contactos-article{
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 8;
        grid-row-end: 10;
    }
    .notificaciones-article{
        grid-row-start: 3;
        grid-row-end: 7;
        grid-column-start: 2;
    }
    .proyectos-article{
        grid-row-start: 6;
        grid-row-end: 9;
        grid-column-start: 4;
    }
    main header{
        height: 53px;
        padding-top: 20px;
    }
}
@media (min-width:786px) and (max-width:1023px){
    .principal{
        padding-top: 34px;
        grid-template-columns: 16px 1fr 16px 1fr 16px;
        grid-template-rows: 407px 18px 75px 32px 16px 278px 16px 200px 298px;
    }
    .eventos-article{
        grid-column-start: 2;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .mails-article{
        grid-column-start: 4;
        grid-row: 1;
        grid-row-end: 5;
    }
    .contactos-article{
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 8;
        grid-row-end: 10;
    }
    .notificaciones-article{
        grid-row-start: 3;
        grid-row-end: 7;
        grid-column-start: 2;
    }
    .proyectos-article{
        grid-row-start: 6;
        grid-row-end: 9;
        grid-column-start: 4;
    }
    main header{
        height: 53px;
        padding-top: 20px;
    }
}
@media (min-width:320px) and (max-width:599px){
    .principal{
        padding-top: 32px;
        display: flex;
        flex-direction: column;
    }
    article{
        width: auto;
        margin-left: 16px;
        margin-right: 16px;
        margin-bottom: 17px;
    }
}
.eventos-article{
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}
.mails-article{
    grid-column-start: 4;
    grid-row: 1;
    grid-row-end: 5;
}
.contactos-article{
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 4;
}
.notificaciones-article{
    grid-row-start: 3;
    grid-row-end: 7;
    grid-column-start: 2;
}
.proyectos-article{
    grid-row-start: 6;
    grid-row-end: 8;
    grid-column-start: 4;
}
main header{
    height: 53px;
    padding-top: 20px;
}
