////
/// HEADER element
///
/// Here we got the header styles
////
header{
    background: linear-gradient(to right, color(ns-primary), color(ns-half-header), color(ns-secondary));
    padding-left: 51px;
    padding-right: 48px;
    padding-top: 17px;
    padding-bottom: 15px;
    width: device-width;
    color: white;
}
article{
    header{
        padding-right: 23px;
    }
}
@media (min-width:1280px){
    header{
        width: 1280px;
    }
}
@media (min-width:787px) and (max-width:1279px){
    header{
        padding-left: 20px;
        padding-right: 15px;
    }
}
@media (min-width:600px) and (max-width:786px){
    header{
        padding-left: 20px;
        padding-right: 12px;
    }
}
@media (min-width:320px) and (max-width:599px){
    header{
        height: 60px;
        padding-left: 16px;
        padding-right: 0px;
    }
}