////
/// NAV element
///
/// Here we got the nav styles
////
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    .search-div{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    ul{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        li{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
        }
    }
    div{
        display: flex;
        flex-direction: row;
    }
}