////
/// ARTICLE element
///
/// Here we got the article styles
////
article{
    
    .cont-puntos{
        width: 100%;
    }
    .puntitos{
    width: 20px;
    height: 15px;
    display: flex;
    justify-content: flex-end;
    float: right;
}
    border-radius: 4px;
    box-shadow: 0px 0px 4px black;
    nav{
        height: 40px;
        padding-top: 4px;
        color: color(ns-primary);
        a{
            text-decoration: none;
        }
    } 
    .nav-list{
        li{
            padding-right: 18px;
            padding-left: 18px;
            a{
                color: color(ns-primary);
            }
        }
    }
    h1{
        font-size: 15px;
        padding-left: 14px;
        padding-top: 1px;
    }
    img{
        width: 15px;
        height: 15px;
    }
    header{
        padding-top: 22px;
        padding-left: 24px;
        display: flex;
        flex-direction: row;
        border-start-end-radius: 4px;
        border-start-start-radius: 4px;
        height: 54px;
        text-transform: uppercase;
        font-size: 20px;
    }
    main{
        display: flex;
        flex-direction: column;
        nav{
            background: #ecf2f9;
        }
        h2{
            text-transform: uppercase;
            font-size: 13px;
        }
        img{
            width: 40px;
            height: 40px;
        }
    }
    footer{
        border-top: 1px solid black;
    }
}
.content{
    margin-left: 24px;
    margin-right: 24px;
}